/* CSS for Search Form */
input[type="text"] {
    background-color: #111;
    border: 1px solid #0f0;
    color: #0f0;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px; /* Adjust the width of the search box */
}

input[type="submit"] {
    cursor: pointer;
}

/* CSS for the logo above the welcome text */
.logo {
    display: block;
    margin: 20px auto; /* Center the logo above the welcome text and add margin */
    width: 200px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for the logo on the top left of the navigation tab */
.logo-left {
    margin-right: 10px; /* Add margin to the right of the logo */
    width: 40px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the logo vertically with the navigation items */
}

/* Navigation Bar Styles */
nav {
    background-color: #111;
    padding: 10px 20px; /* Adjust padding */
    text-align: right; /* Align navigation items to the right */
    display: flex; /* Use flexbox for easier alignment */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Spread items horizontally */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

nav ul li {
    display: inline;
}

nav ul li:not(.settings) {
    margin-right: 20px; /* Add margin between navigation items except for settings */
}

.settings {
    float: right; /* Float the settings option to the right */
}
